<nav id="nav" role="nav">
    <ul id="home-menu" class="list-unstyled">
        <li><a href="http://blog.lainnie.com/about/">About me</a></li>
        <li><a href="http://blog.lainnie.com">Blog</a></li>
        <li><a href="http://tech.lainnie.com">Tech</a></li>
    </ul>
</nav>
