{{!< default}}

<div class="v-center">
    <div class="v-wrapper">
        <div class="description">
            <h1>{{@blog.description}}</h1>
        </div>

        {{> menu}}
        {{> social}}

        {{> footer }}

    </div>
</div>

