<ul class="list-inline social-links">
    <li><a href="https://github.com/TheGhouls" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li><a href="https://twitter.com/TheGhoulsIO" class="btn-social btn-outline" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
    </li>
</ul>
